:root {
  --color: rgba(62, 197, 250, 1);
}
.links {
  background: url(/src/image/background.JPG);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 5rem 8rem;
    .object {
      .service {
        font-size: 2rem;
      }
      .text {
        color: #000;
        margin-top: 2.5rem;
        font-size: 1.9rem;
        margin-bottom: 4rem;
      }
      .content {
        font-size: 1.5rem;
        color: #000;
      }
      .click {
        margin-top: 3rem;
        .icon {
          font-size: 1.3rem;
          color: #fff;
          font-weight: 600;
        }
        .offer {
          font-size: 1.3rem;
          color: var(--color);
          background: transparent;
          border: 1px solid var(--color);
          font-weight: 600;
        }
      }
    }
  }
}
@media (max-width: 770px) {
  .links {
    .homeContainer {
      padding: 7rem 1rem;

      .object {
        .service {
          font-size: 1.4rem;
        }
        .text {
          font-size: 1.5rem;
        }
        .content {
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        .click {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          .offer {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
