:root {
  --color: rgba(62, 197, 250, 1);
}
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 2rem;
  align-items: center;
  background: url(/src/image/background.JPG);
  .logoDiv {
    a {
      h1 {
        .icon {
          font-size: 1.6rem;
          color: color-mix(in srgb, #fff, transparent 10%);
        }
        font-size: 1.3rem;
      }
    }
  }
  .navBar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    .navLists {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      .navItem {
        margin-left: 1rem;
        .navLink {
          font-size: 1.3rem;
          color: #333;
          cursor: pointer;
          font-weight: 900;
        }
      }
    }
    .ntg {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-left: 18rem;
      .btn {
        a {
          color: #fff;
          font-size: 0.9rem;
        }
      }
    }
  }
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }
}
@media (max-width: 1174px) {
  .header {
    .navBar {
      .ntg {
        margin-left: 8rem;
      }
    }
  }
}
@media (max-width: 943px) {
  .header {
    position: relative;
    .toggleNavbar {
      font-size: 2rem;
      color: #fff;
    }
    .navBar {
      position: absolute;
      top: -50rem;
      transition: 0.3s ease;
      background: color-mix(in srgb, #333, transparent 3%);
      width: 80%;
      display: flex;
      padding: 2rem;
      text-align: center;
      align-items: center;
      flex-direction: column;
      z-index: 1000;
      right: 0;
      .ntg {
        margin-left: 1rem;
      }
      .navLists {
        justify-content: center;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        flex-direction: column;
        .navItem {
          margin-top: 1rem;
          .navLink {
            font-size: 1.5rem;
            color: var(--color);
            font-weight: 700;
          }
        }
      }
      .closeNavbar {
        color: #fff;
        position: absolute;
        font-size: 2rem;
        top: 1rem;
        left: 2rem;
      }
    }
    .toggleNavbar,
    .closeNavbar {
      display: inline-block;
    }
    .activeNavbar {
      top: 7.5rem;
    }
  }
}
