:root {
  --color: rgba(62, 197, 250, 1);
}
.Body {
  padding: 1.6rem 4rem;
  .Our {
    h3 {
      font-size: 1.3rem;
    }
    .more {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      gap: 10px;
      .text {
        display: flex;
        flex-direction: column;
      }
      .btn {
        color: #fff;
        font-weight: 800;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        .arrow {
          font-size: 1.2rem;
        }
      }
    }
  }
  .bodygride {
    margin-top: 3rem;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    .Destination {
      border: 1px solid var(--color);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem 1rem;
      .house {
        .home {
          padding: 20px;
          color: #fff;
          background-color: var(--color);
          font-size: 1.5rem;
        }
      }
      .dics {
        margin-top: 1rem;
        .head {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        .discription {
          text-align: center;
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
        .clic {
          display: flex;
          border: 1px solid var(--color);
          padding: 10px;
          width: 100%;
          text-align: center;
          justify-content: center;
          max-width: 150px;
          color: var(--color);
          cursor: pointer;
          font-size: 1rem;
          border-radius: 5px;
          a {
            color: var(--color);
          }
          &:hover {
            background: var(--color);
            color: #fff;
            border: none;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1059px) {
  .Body {
    .bodygride {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (max-width: 700px) {
  .Body {
    .bodygride {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
