:root {
  --color: rgba(62, 197, 250, 1);
}
.MaIns {
  margin-top: 3rem;
  h1 {
    padding: 0 3rem;
  }
  .secCOntent {
    padding: 2rem 4rem;
    background-color: color-mix(in srgb, var(--color), transparent 70%);
    display: flex;
    justify-content: space-between;

    .first {
      h2 {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
      }
      .singleDEstination {
        margin-top: 2rem;
        .one {
          margin-top: 1rem;
          border-bottom: 2px solid #333;
          padding: 1rem 1rem;
          .fileIcon {
            color: var(--color);
            font-size: 2.7rem;
            margin-bottom: 1rem;
          }
          .file {
            display: flex;
            flex-direction: column;
            text-align: center;
            .heading {
              color: #fff;
              font-size: 1.6rem;
            }
            .discription {
              font-size: 1.2rem;
              margin-top: 1rem;
            }
          }
        }
        .two {
          margin-top: 1rem;
          padding: 1rem 1rem;
          .fileIcon {
            color: var(--color);
            font-size: 2.7rem;
            margin-bottom: 1rem;
          }
          .file {
            display: flex;
            flex-direction: column;
            text-align: center;
            .heading {
              color: #fff;
              font-size: 1.6rem;
            }
            .discription {
              font-size: 1.2rem;
              margin-top: 1rem;
            }
          }
        }
      }
    }
    .second {
      margin-left: 3rem;
      .replace {
        width: 700px;
        border-radius: 10px;
      }
      .house {
        display: flex;
        justify-content: center;
        align-items: center;
        .home {
          width: 150px;
          border-radius: 14px;
        }
        .state {
          margin-left: 1rem;
          color: #333;
          max-width: 600px;
          font-weight: lighter;
          strong {
            font-weight: 900;
          }
        }
      }
    }
  }
  .secondSec {
    background-color: var(--color);
    color: #fff;
    text-align: center;
    padding: 8rem 0;
    position: relative;
    span {
      font-size: 2rem;
    }
    .than {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3.5rem;
      transform: translate(-9px, -50px);
      span {
        background-color: gold;
        padding: 1rem 1rem;
        border-radius: 20px;
        font-size: 1.3rem;
      }
    }
  }
  .Secsecond {
    background-color: color-mix(in srgb, var(--color), transparent 70%);
    color: #fff;
    text-align: center;
    padding: 8rem 4rem;
    span {
      font-size: 1.5rem;
    }
  }
  .data {
    color: #fff;
    text-align: center;
    padding: 8rem 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    .numbers {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      .Note {
        display: flex;
        flex-direction: column;
        background-color: var(--color);
        padding: 20px;
        border-radius: 10px;
        margin-left: 2rem;
      }
    }
  }
  .footer {
    .client {
      padding: 0 3rem;
      h3 {
        font-size: 1.3rem;
        letter-spacing: 4px;
      }
      span {
        font-size: 1.3rem;
      }
      .text {
        margin-top: 1rem;
        font-size: 1.5rem;
      }
      .return {
        display: flex;
        flex-basis: 50%;
        gap: 10px;
        margin-top: 2rem;

        .returnContent {
          border: 1px solid var(--color);
          padding: 20px;
          border-radius: 5px;
          .returnSpace {
            .icon {
              font-size: 1.5rem;
            }
            .info {
              font-size: 1.4rem;
              font-weight: lighter;
            }
            .profile {
              display: flex;
              margin-top: 1rem;
              justify-content: space-between;
              text-align: center;
              flex-wrap: wrap;
              .photo {
                border-radius: 50%;
                width: 70px;
                height: 70px;
              }
              .group {
                .name {
                  display: flex;
                  flex-direction: column;
                  .Name {
                    font-size: 1.2rem;
                    font-weight: 300;
                    text-transform: uppercase;
                  }
                }
                .stars {
                  color: gold;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
    .contact {
      margin-top: 2rem;
      .secContact {
        padding: 0 4rem;

        .span {
          display: flex;
          flex-direction: column;
          .touch {
            font-size: 1.4rem;
          }
          .team {
            margin-top: 1rem;
            font-size: 1.2rem;
          }
        }
        .call {
          display: flex;
          text-align: center;
          justify-content: center;
          gap: 10px;
          margin-top: 2rem;
          .means {
            display: flex;
            gap: 10px;
            background-color: var(--color);
            color: #fff;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 30px;
            border-radius: 9px;
            width: 100%;

            .phone {
              background: #fff;
              color: var(--color);
              padding: 10px;
              font-size: 1.6rem;
              border-radius: 50%;
            }
            .digit {
              display: flex;
              flex-direction: column;

              .num {
                font-size: 1.4rem;
                font-weight: 800;
              }
              .Num {
                margin-top: 0.4rem;
                font-weight: lighter;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1166px) {
  .MaIns {
    .secCOntent {
      .second {
        .replace {
          width: 500px;
        }
      }
    }
  }
}
@media (max-width: 930px) {
  .MaIns {
    h1 {
      letter-spacing: 5px;
    }
    .secCOntent {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      .first {
        h2 {
          font-size: 1.2rem;
        }
        .singleDEstination {
          .one,
          .two {
            .file {
              .heading {
                font-size: 1.4rem;
              }
              .discription {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .second {
        margin-left: 0;
        margin-top: 2rem;
        .replace {
          width: 300px;
        }
        .house {
          .state {
            margin-top: 1rem;
          }
        }
      }
    }
    .footer {
      .client {
        .return {
          display: flex;
          flex-basis: 50%;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 2rem;
        }
      }
      .contact {
        margin-top: 2rem;
        .secContact {
          padding: 0 4rem;

          .span {
            display: flex;
            flex-direction: column;
            .touch {
              font-size: 1.4rem;
            }
            .team {
              margin-top: 1rem;
              font-size: 1.2rem;
            }
          }
          .call {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
