@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

:root {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  color-scheme: light dark;
  color: #3ec5fa;
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
